.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
/doc
/src/http_message_signatures_input_lexer.erl
/src/http_message_signatures_input_parser.erl
/src/http_message_signatures_signature_lexer.erl
/src/http_message_signatures_signature_parser.erl
/rebar.lock
/conformance/test-suite