[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [%% Line length is the job of the formatter
            {elvis_text_style, line_length, #{limit => 1_000}}],
        ignore => [http_message_signatures_input_lexer, http_message_signatures_input_parser, http_message_signatures_signature_lexer, http_message_signatures_signature_parser]},
     #{dirs => ["test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [%% Line length is the job of the formatter
            {elvis_text_style, line_length, #{limit => 1_000}},
            {elvis_style, macro_names, #{ignore => [http_message_signatures_SUITE]}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_project}]}]}].